@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>

    <div class="text-center">
        <img src="~/images/access-denied.png" alt="Access denied image" style="width:1200px;height:400px;border:0;" />
        <br />
        <br />
        <p>The access on this area is restricted.</p>
        <p>If you need more information, please <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us.</a></p>

    </div>
    </header>
