@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This Application is a faculty project for course Web System Engineering</p>

<h2>Contact</h2>

<h5>Lutan Elena Ruxandra<br /></h5>

<address>
    Group ISB 1.B.<br />
    Information Systems for e-Business (ISB)<br />
    Faculty of Automatics, Computer Science and Electronics<br />

</address>

<address>
    <strong>Email:</strong> <a href="mailto:ruxandra_lutan@yahoo.com">ruxandra_lutan@yahoo.com</a><br />
</address>
